#{extends 'main.html' /}
#{set page:'team' /}
<script type="text/javascript" src="/public/javascripts/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/public/javascripts/highcharts/options.js"></script>
<script type="text/javascript">
            
    window.chart = null;
    $(document).ready(function() {
        $('.classPopover').popover('hide');         
        $('#highchartTypeahead').typeahead({
            items: 3, 
            source: function (typeahead) {
                return $.get('/application/everybody ',  function (data) 
                {
                    return typeahead.process(data);
                });
            },
            onselect: function (data){
                  
                  
                $.getJSON("@{StatisticController.statisticForWho()}", {name : data },
                function(data1){
                 
                 
                    this_AddTodrawChart(data1.id, data1.team_name)
                });     
                  
                  
                  
                  
                  

            }
        });
                
        function this_drawChart(id){
                    
            var options =  window.versus_options;
            $.getJSON("@{StatisticController.data()}", {id : id},function(data){
                options.series = new Array();
                options.series[0] = new Array();
 
                options.series[0].data = [ data.games_playd, data.winns, data.losts ]
                options.series[0].name = "${team?.player1.username}" + " & " + "${team?.player2.username}";
                        
                window.chart = new Highcharts.Chart(options);
                console.log("new chart stat")
            });               
        }
                
                
        function this_drawGameChart(id){
            $.getJSON("@{GamesController.getTeamGamesForChart()}", {team_id : id},function(data){
                var teamId = parseFloat("${team.id}");
                var winArray = new Array();
                var lostArray = new Array();
                for( var i = 0; i < data.length; i++){
                    
                    if (data[i].winner.id === teamId){
                        winArray[i] = data[i];
                        lostArray[i] = null;
                    }
                    else if (data[i].winner.id !== teamId){
                        
                        lostArray[i] = data[i];
                        winArray[i] = null;
                    }
                }
                var countWin = new Array();
                var countLost = new Array();
                for (var i = 0; i < winArray.length; i++){
                    if (winArray[i]){
                        countWin[i] = 1;
                    }
                    else if (!winArray[i]){
                        countWin[i] = null;
                    }
                    
                }
                for (var i = 0; i < lostArray.length; i++){
                    if( lostArray[i]){
                        countLost[i] = -1;
                    }
                    else if ( !lostArray[i]){
                        countLost[i] = null;
                    }           
                }
                window.chart = new Highcharts.Chart(
                {
                        
                    chart: {
                        renderTo: 'game_statistic',
                        type: 'area',
                        spacingBottom: 40
                    },
                    rangeSelector : {
                        selected : 1
                
                    },
                    title: {
                        text: ' ${team?.player1?.username} & ${team?.player2?.username}' + '\'s' + ' played games'
                    },
                    subtitle: {
                        text: '',
                        floating: true,
                        align: 'right',
                        verticalAlign: 'bottom',
                        y: 15
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        verticalAlign: 'top',
                        x: 80,
                        y: 0,
                        floating: true,
                        borderWidth: 2,
                        backgroundColor: '#FFFFFF'
                    },
                    xAxis: {
                        title: {
                            text: 'Played games'
                        },
                        labels: {
                            formatter: function() {
                                return this.value;
                            }
                        },
                        tickInterval: 1
                    },
                    yAxis: {
                        title: {
                            text: 'Winns and losts'
                        },
                        labels: {
                            formatter: function() {
                                return this.value;
                            }
                        }, 
                        minRange: -1,
                        max: 2,
                        tickInterval: 1
                    },
                    tooltip: {
                        formatter: function() {
                            var winMatch =  winArray[this.x];
                            var lostMatch = lostArray[this.x];
                            if ( winMatch !== null){
                                 
                                return '<b>'+ this.series.name +'</b><br/>' +
                                    winMatch.home_team.team_name + " VS " + 
                                    winMatch.visitor_team.team_name +'<br/>'+
                                    "Result : " + winMatch.home_score + " - " + 
                                    winMatch.visitor_score+ '<br/>' + 
                                    "Winner : " + winMatch.winner.team_name + '<br/>' +
                                    "Played : " + winMatch.start_time;
                                   
                            }
                            if ( lostMatch !== null){
                                 
                                return '<b>'+ this.series.name +'</b><br/>' +
                                    lostMatch.home_team.team_name + " VS " + 
                                    lostMatch.visitor_team.team_name +'<br/>'+
                                    "Result : " + lostMatch.home_score + " - " + 
                                    lostMatch.visitor_score+ '<br/>' + 
                                    "Winner : " + lostMatch.winner.team_name + '<br/>' + 
                                    "Played : " + lostMatch.start_time;;
                                 
                            } 
                        }
                    },
                    plotOptions: {
                        area: {
                            fillOpacity: 0.5
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    series:[
                        {
                            name : 'Win',
                            data : countWin,
                            marker : {
                                enabled : true,
                                radius : 8
                            },
                            shadow : true,
                            tooltip : {
                                valueDecimals : 2
                            }
                        
                        
                        },
                        
                        
                        {
                            name : 'Lost',
                            data : countLost
                            ,
                            marker : {
                                enabled : true,
                                radius : 8
                            },
                            shadow : true,
                            tooltip : {
                                valueDecimals : 2
                            }
                        }]
                });
            });               
        }        
                
        function this_AddTodrawChart(id, username){
               
            $.getJSON("@{StatisticController.data()}", {id : "${team.id}"},function(data1){
 
                $.getJSON("@{StatisticController.data()}", {id : id},function(data2){
                    
                    if (data2.games_playd === 0){
                        alert(username + " have not played a match..try later")
                        $('#highchartTypeahead').val("");
                        return;
                    }
     
                    var options = window.versus_options;
                            
                    options.series = new Array();
                    options.series[0] = new Array();                          
                    options.series[1] = new Array();
                          
                
                    options.series[0].data = [ data1.games_playd, data1.winns, data1.losts ]
                    options.series[0].name = "${team?.team_name}";
                          
                    options.series[1].data = [ data2.games_playd, data2.winns, data2.losts]
                    options.series[1].name = username;
                            
                    chart = new Highcharts.Chart(options);
                            
                            
                });           
            });               
        }
 
        this_drawChart("${team.id}");
        this_drawGameChart("${team.id}");                 
    });           
</script>
<div class="row section">
    <div id="profile-info-container" class="span12 card">
        <div class="row">
            <img src="@{'/public/images/teams'}/${team?.image}" id="profile-image" class="span3 small-image" />


            <div id="profile-description" class="span7">
                <h1>@ ${team.team_name}</h1>
                <h2 class="title">${team?.player1?.username} & ${team?.player2?.username}</h2>
                #{if team?.bio != null}
                <p>${team?.bio}</p>
                #{/if}
                #{if arch_rival != null}

                <p><strong>Arch rival </strong> 
                    <a href="@{TeamController.profile(arch_rival?.team_name)}"> @ ${arch_rival?.team_name}</a></p>
                #{/if}
                #{if team?.organization != null && team?.organization != ""}
                <p><strong>Organization: </strong> ${team?.organization}</p>
                #{/if}

            </div>
            <div class="span2 pull-right">
                #{if  ( (session.pid && ((Long.parseLong(session.pid) == team?.player1?.id)||(Long.parseLong(session.pid) == team?.player2?.id))) && session.token && session.login)}
                <div><a id="openfoose_see_profile" class="btn pull-right" href="@{TeamController.settings(team?.team_name)}">Edit your profile</a></div>
                #{/if}
                <ul class="profile-right-corner">
                    <li>
                        <h6 class="underline">PLAYED<p class="stat-para">${statistic?.games_playd}</p></h6>
                    </li>
                    <li>
                        <h6 class="underline">WON<p class="stat-para">${statistic?.winns}</p></h6>
                    </li>
                    <li>
                        <h6 class="underline">LOST<p class="stat-para">${statistic?.losts}</p></h6>    
                    </li> 
                    #{if statistic?.games_playd > 0 }
                    <li>
                        <h6 class="underline">FORM<p class="stat-para">${statistic?.last_three_games_played}</p></h6>    
                    </li> 
                    #{/if}
                </ul>

            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="tabbable">
        <div class="span3">
            <ul id="profile-menu" class="nav nav-tabs nav-stacked ">
                <li class="active">
                    <a href="#teams" data-toggle="tab">Team players
                        <i class="icon-chevron-right pull-right"></i>
                    </a>
                </li>
                #{ if statistic.games_playd >= 1 } 
                <li>
                    <a href="#stat" data-toggle="tab">Statistic graph
                        <i class="icon-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#gamesMap" data-toggle="tab">Game graph
                        <i class="icon-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#info" data-toggle="tab">Form table
                        <i class="icon-chevron-right pull-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#game" data-toggle="tab">Fun facts
                        <i class="icon-chevron-right pull-right"></i>
                    </a>
                </li>

                <li>
                    <a href="#games" data-toggle="tab">Games played
                        <i class="icon-chevron-right pull-right"></i>
                    </a>
                </li>

                #{/if}
            </ul> 
            #{ if statistic.games_playd <= 0 } 
                <div class="alert alert-block">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <h4 class="alert-heading">Attention!</h4>
                    <br/>
                    This team haven't played any foosball matches
                    <br/>
                    <br/>
                    There are no statistic to show.
                </div>
                #{/if}
        </div>
        <div class="span9"> 
            <div id="profile-menu-info" class="tab-content card section">
                <div id="teams" class="tab-pane active">


                    <h2 class="underline section">Team members</h2>









                    <ul class="thumbnails center">


                        #{list items:teams, as:'teams'}


                        <li class="span2">
                            <a href="@{PlayerController.profile(teams?.player1?.username)}" rel="popover" class="classPopover"
                               data-content="
                               #{if teams?.bio != null }
                               <p>
                               <strong>Bio</strong><br>
                               ${teams?.bio}
                               </p>
                               <br/>
                               #{/if}






                               <table class='table table-striped'>
                               <thead class='blue-title'>
                               <tr>
                               <th>Player one</th>

                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                               <td>@${teams?.player1?.username}</td>

                               </tr>
                               </tbody>
                               </table>





                               #{if teams?.arch_rival != null}
                               <table class='table tb-arch-rival'>
                               <thead>
                               <tr>
                               <th>Arch-rival</th>
                               <th class='prosent'>${teams?.arch_rival?.team_name}</th>
                               </tr>
                               </thead>
                               </table>
                               #{/if}




                               #{if teams_statistics?.get(teams_index-1).games_playd >= 1 } 




                               <table class='table table-bordered'>
                               <thead>
                               <tr class='green-title'>
                               <th>Played</th>
                               <th>Won</th>
                               <th>Lost</th>
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                               <td>${teams_statistics?.get(teams_index-1).games_playd}</td>
                               <td>${teams_statistics?.get(teams_index-1).winns}</td>
                               <td>${teams_statistics?.get(teams_index-1).losts}</td>
                               </tr>
                               </tbody>
                               </table>
                               <table class='table table-striped'>
                               <thead class='blue-title'>
                               <tr>
                               <th>Total score for</th>
                               <th>Total score against</th>
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                               <td>${teams_statistics?.get(teams_index-1).score_for}</td>
                               <td>${teams_statistics?.get(teams_index-1).score_against}</td>

                               </tr>
                               </tbody>
                               </table>


                               <table class='table'>
                               <thead class='yellow-title'>
                               <tr>
                               <th>Win</th>
                               <th class='prosent'>${teams_statistics?.get(teams_index-1).win_prosent} %</th>
                               </tr>
                               </thead>
                               </table>




                               #{/if}







                               #{if teams_statistics?.get(teams_index-1).games_playd <= 0 }
                               <p>
                               <strong> No games played</strong>
                               #{/if}
                               "

                               data-original-title="
                               <table>
                               <thead>
                               <tr>
                               <th>@${teams?.team_name}  </th>
                               <th class='prosent'></th>
                               </tr>
                               </thead>
                               </table>">
                                <img src="@{'/public/images/players'}/${teams?.player1?.image}" alt="${teams?.team_name}" class="small-image" />

                                <h3 class="team-name">@ ${teams?.player1?.username}</h3>

                            </a>
                        </li>
                        #{/list}
                    </ul>


                </div>
                <div id="stat" class="tab-pane">
                    <h2 class="underline section">Statistic graph</h2>
                    <div id="mDiv">
                        <p>Compare your self with other teams and players</p>
                        <input type="text" class="input-large search-query"
                               id="highchartTypeahead" data-provide="typeahead"
                               placeholder="Search for other teams and players here">

                    </div>
                    <div id="team_statistic"></div>
                </div>





                <div id="game" class="tab-pane">
                    <h2 class="underline section">Fun facts about ${team?.team_name}'s opponents.</h2>
                    #{if statistics.size() >= 1}
                    <ul class="thumbnails center">


                        #{list items:statistics, as:'statistics'}

                        #{if statistics?.target_team != null }








                        <li class="span2">


                            #{if statistics?.count_most_played_against > 0}

                            <p class="section">  <strong>Played most against </strong> </p>


                            #{/if}


                            #{if statistics?.count_most_lost_against > 0}
                            <p class="section">  <strong> Lost most against</strong></p>

                            #{/if}


                            #{if statistics?.count_most_won_against > 0}
                            <p class="section">  <strong>Won most against</strong> </p>

                            #{/if}



                            #{if statistics?.count_most_regular_appearances > 0}
                            <p class="section">   <strong>  Regular appearances </strong></p>

                            #{/if}

                            <a href="@{TeamController.profile(statistics?.target_team?.team_name)}" rel="popover" class="classPopover"
                               data-content=

                               " 

                               <h6 class='image-info'>

                               #{if statistics?.count_most_played_against != 0}
                               Played most against<p class='number'>${statistics?.count_most_played_against}</p>  


                               #{/if}


                               #{if statistics?.count_most_lost_against != 0}
                               Lost most against <p class='number'>${statistics?.count_most_lost_against} </p>
                               #{/if}


                               #{if statistics?.count_most_won_against != 0}
                               Won most against<p class='number'>${statistics?.count_most_won_against}</p>
                               #{/if}



                               #{if statistics?.count_most_regular_appearances != 0}
                               Regular appearances (10-9)<p class='number'>${statistics?.count_most_regular_appearances}</p> 
                               #{/if}</h6>


                               "


                               data-original-title="
                               <table>
                               <thead>
                               <tr>
                               <th>@${statistics?.target_team.team_name}  </th>
                               <th class='prosent'></th>
                               </tr>
                               </thead>
                               </table>">

                                <img src="@{'/public/images/teams'}/${statistics?.target_team.image}" alt="${statistics?.target_team?.team_name}" class="small-image" />


                                <h3 class="team-name">@ ${statistics?.target_team.team_name}</h3>


                            </a>
                        </li>

                        #{/if}<!-- if team != null  -->
                        #{/list}<!-- list -->                                            
                    </ul>
                    #{/if}<!--  Statistics size() >= 1 -->



                </div>

                <div id="games" class="tab-pane">
                    <h2 class="underline section">Games played by ${team?.team_name}!</h2>


                    <ul class="thumbnails center">

                        #{list items:games, as:'games'}


                        <li class="span2">
                            <a href="#" rel="popover" class="classPopover"
                               data-content=

                               " 

                               <table class='table table-striped'>
                               <thead class='blue-title'>
                               <tr>
                               <th>Home team</th>
                               <th>Away team</th>
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                               <td>${games?.home_team?.team_name}</td>
                               <td>${games?.visitor_team?.team_name}</td>
                               </tr>
                               </tbody>
                               </table>


                               <table class='table table-bordered'>
                               <thead>
                               <tr class='green-title'>
                               <th>Home score</th>
                               <th>Away score</th>

                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                               <td>${games?.home_score}</td>
                               <td>${games?.visitor_score}</td>

                               </tr>
                               </tbody>
                               </table>


                               <table class='table'>
                               <thead>
                               <tr>
                               <th>Started</th>
                               <th class='prosent'>${games?.start_time.format('dd MMMM yyyy hh:mm:ss', 'fr')}</th>
                               </tr>
                               </thead>
                               <thead>
                               <tr>
                               <th>Ended</th>
                               <th class='prosent'>${games?.end_time.format('dd MMMM yyyy hh:mm:ss', 'fr')}</th>
                               </tr>
                               </thead>
                               </table>



                               "


                               data-original-title="
                               <table>
                               <thead>
                               <tr>
                               <th> </th>
                               <th class='prosent'></th>
                               </tr>
                               </thead>
                               </table>">

                                <img src="@{'/public/images/default/game.png'}" alt="one_game">



                            </a>
                        </li>

                        #{/list}                                   
                    </ul>
                </div> <!-- games -->



                <!-- DETTE ER NYTT PSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS -->
                <div id="info" class="tab-pane">
                    <h2 class="underline section">Over all form table</h2>

                    <!-- ***************************************************************************
                    DETTE ER NYTT DATO 01.MAI.2012
                    ***************************************************************************/ -->
                    <h3>Played Games</h3>
                    <br/>
                    <div class="span8">
                        <table id ="all-info" class="table table-striped table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Home Games</th>
                                    <th>Away Games</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Match</th>
                                    <td>${statistic?.home_games}</td>
                                    <td>${statistic?.away_games}</td>
                                    <td>${statistic?.games_playd}</td>
                                </tr>
                                <tr>
                                    <th>Lost</th>
                                    <td>${statistic?.home_lost}</td>
                                    <td>${statistic?.away_lost}</td>
                                    <td>${statistic?.losts}</td>
                                </tr>
                                <tr>
                                    <th>Winn</th>
                                    <td>${statistic?.home_wins}</td>
                                    <td>${statistic?.away_wins}</td>
                                    <td>${statistic?.winns}</td>
                                </tr>
                                <tr>
                                    <th>Goal for</th>
                                    <td>${statistic?.score_home_for}</td>
                                    <td>${statistic?.score_away_for}</td>
                                    <td>${statistic?.score_for}</td>
                                </tr>
                                <tr>
                                    <th>Goal against</th>
                                    <td>${statistic?.score_home_against}</td>
                                    <td>${statistic?.score_away_against}</td>
                                    <td>${statistic?.score_against}</td>
                                </tr>
                            </tbody>
                        </table>


                        <table class="table table-striped table-bordered table-condensed" style="width: auto; display: inline-block; float: left">
                            <thead>
                                <tr>
                                    <th>Average goal for</th>
                                    <th>Average goal against</th>
                                    <th>Average goal difference</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>${statistic?.average_score_for}</td>
                                    <td>${statistic?.average_score_against}</td>
                                    <td>${statistic?.average_score_difference}</td>
                                </tr>
                            </tbody>
                        </table>



                        <table class="table table-striped table-bordered table-condensed" style="width: auto;display: inline-block; float: right;">
                            <thead>
                                <tr>
                                    <th>WINN</th>    
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    #{ if statistic?.win_prosent >= 95}
                                    <td style="background-color: green">
                                        <strong> ${statistic?.win_prosent} %</strong></td>
                                    #{/if}

                                    #{if statistic?.win_prosent < 95 && statistic?.win_prosent >= 50 }
                                    <td style="background-color: yellowgreen">
                                        <strong> ${statistic?.win_prosent} %</strong></td>
                                    #{/if}

                                    #{if statistic?.win_prosent < 50 }
                                    <td style="background-color: red">
                                        <strong> ${statistic?.win_prosent} %</strong></td>
                                    #{/if}
                                </tr>
                            </tbody>

                        </table>

                        <table class="table table-striped table-bordered table-condensed" style="width: auto;display: inline-block; float: right;">
                            <thead>
                                <tr>
                                    <th>Goal difference</th>    
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    #{ if statistic?.score_difference == 0}
                                    <td>
                                        <strong> ${statistic?.score_difference}</strong>
                                    </td>
                                    #{/if}

                                    #{if statistic?.score_difference < 0 }
                                    <td style="background-color: red">
                                        <strong> ${statistic?.score_difference} </strong></td>
                                    #{/if}

                                    #{if statistic?.score_difference > 0 }
                                    <td style="background-color: green">
                                        <strong> ${statistic?.score_difference} </strong></td>
                                    #{/if}

                                </tr>
                            </tbody>

                        </table>

                    </div>
                </div><!-- info -->
                <div id="gamesMap" class="tab-pane">
                    <h2 class="underline section">Graphical presentation of ${team?.team_name}'s played games</h2>



                    <div id="game_statistic">

                    </div>


                </div><!-- gamesMap -->

            </div><!-- /.tab-content -->
        </div><!-- span9 -->
    </div><!-- /.tabbable -->   
</div><!-- .row -->   



