<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>OpenFoos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/error.css'}" />
        <script src="@{'/public/javascripts/jquery-1.7.2.js'}"></script>
        <script src="@{'/public/bootstrap/js/bootstrap.js'}"></script>
    </head>
    <body>
        <div class="error404_main">
            <span class="main_txt">
                <span>The page you‘re</span>
                <span>trying to reach does not</span>
                <span>exist :(. Check the address</span>

            </span>
        </div>
    </body>
</html>

