#{extends 'main.html' /}
#{set page:'login_fail' /}
<br/>
<div class="row">
    #{ifError 'register'}
    <div class="war alert1 alert-error">
      
      
        <h1>Oops…</h1>
        <br/>
        <li>#{error 'register' /}</li>
    <br/>
    </div>
    #{/ifError}
    <div class="span12">
        <div class="signin-wrapper">
            <h1>New to Openfoos?<br/>
                Sign up here.</h1>
            <form class="form-horizontal" action="@{PlayerController.registerPlayer()}" method="POST">
                <fieldset>
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" name="player.username" 
                           autofocus="autofocus" autocomplete="on" class="input-xlarge"
                           placeholder="Type your username"/>

                    <br/>
                           
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="password" name="player.password"
                          autocomplete="on" class="input-xlarge"
                           placeholder="Type your password"/>

                    <br/>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-warning">Sign up</button>
                    
                    </div>
                </fieldset>
            </form>
            <div class="bottom-box">

            </div>
        </div>
    </div>
</div>